h1{
  color:	#008080;
  text-decoration: underline;
  font-family: cursive;
}
p{
  color: 	#008080;
}
img {
width: 200px;  
}
h1{
  font-size: 350%;
}
p{
  font-size: 125%;
}
ul{
  font-size: 125%
}
}
body {
    background-color: #F0F9FA;
}
h3{
  text-decoration: underline;
}